html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    
  }
  
  body {margin:0;
    /* margin: 0 auto; */
    width: 100%;
    /* max-width: 80ch; */
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
 main{
    background-color: rgb(243, 222, 225);
    padding:10px;
    }  

     h2, h3, h4, p{
      font-family: Arial, Helvetica, sans-serif;
    } 
     a{
    text-decoration: none;
    color:blueviolet;
    margin:0 20px 0 20px;
  padding: 0 10px 0 10px;
    
     margin-left: 0;
     padding-left: 0;
    }
    img{
      width: 300px;
    }
    a:hover{
    color:rgb(0, 139, 185);
    text-decoration: underline;
    transition: 0.7ms ease-in;
    }

    .hamburguesa{
      padding-right:20px;
      cursor:pointer;
  }
  .hamburguesa .linea{
      display:block;
      width:40px;
      height:5px;
      margin-bottom:10px;
      background-color: rgb(240, 217, 217);
  
  }
  
    .nav-links{
      width:100%;
      top: 5rem;
      left: 48px;
      background-color: rgb(190, 190, 190);
      display:none;
      margin:0 ;
  }
  .nav-links a{
      display:block;
      text-align: center;
      padding:10px 0;
      text-decoration:none;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
  }
  .nav-links a:hover,
  .nav-links a:focus{
    text-decoration: underline;
      background-color: #f9e8e8;
  }
  .expanded{
    display: unset;
  }
  .isla {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .isla-hovered {
    transform: scale(1.05);
  }
  
  .isla-icono {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width:636px){
      .nav-links{
          margin-left:5em;
          display:block;
          position:static;
          width:auto;
          background: none;
      }
      .nav-links a{
          display:inline-block;
          padding: 15px 20px;
      }
      .hamburguesa{
        display:none;
      }
  
  }