---
import Layout from '../Layouts/Layout.astro';
import '/src/styles/main.css';
const pagetitle = "About Arlin";
---
<title>{pagetitle}</title>
<Layout>
	<a href="/">← Go back? ..</a>
	<h2>
		Lorem, ipsum dolor.
	</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum dolore consequatur corrupti magnam dolor ad nihil magni temporibus in.</p>
	<img src="/icon.png" alt="img" title="img">
</Layout>
